<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Say Fuck{% endblock %}</title>
    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}">
    {{ bootstrap.load_css() }}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" type="text/css">
</head>

<body>
    <main class="container">
        <header>
            <h1 class="text-center display-4">
                <a href="{{ url_for('index') }}" class="text-success"><strong>Say Fuck</strong></a>
                <small class="text-muted sub-title">to the world</small>
            </h1>
        </header>
        {% for message in get_flashed_messages() %}
        <div class="alert alert-info">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            {{ message }}
        </div>
        {% endfor %}
        {% block content %}{% endblock %}
        <footer class="text-center">
            {% block footer %}
            <small> &copy; 2018 <a href="https://tunahsu.com" title="Written by Tuna Hsu">Tuna Hsu</a> /
                <a href="https://gitlab.com/tunahsu" title="Fork me on GitLab">GitLab</a>
            </small>
            <p><a id="bottom" href="#" title="Go Top">&uarr;</a></p>
            {% endblock %}
        </footer>
    </main>

    {{ bootstrap.load_js() }}
    <script type="text/javascript" src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>

</html>